.clientes {
    

    .encabezado {
        padding: 50px;
        text-align: center;
        margin-bottom: 10px;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
      

        .logo {
            border-radius: 20px;
            
            width: 150px;
            height: 150px;
            object-fit: contain;
            
            background: #fff;

            

            @media screen and (max-width: 768px) {
                max-width: 130px;
            }
        }
    }
}